# CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Build folders

build/
build-*/
cmake-build-*/
out/

# Qt

*.qmlc
*.jsc
.qmake.stash
*.pro.user
*.pro.user.*
moc_*
qrc_*
ui_*
*.moc

# Qt Creator

*.user
*.user.*
*.autosave

# Binaries

*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj
*.pdb
*.ilk

# Android / Gradle

.gradle/
local.properties
*.apk
*.aab

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db

# Logs

*.log

# Local databases

*.db
*.sqlite
*.sqlite3
